
<div class="text-center">
    <h1 class="display-4">Relatórios</h1>
</div>
<div class="row row-cols-1 row-cols-md-5 g-4">
    <div class="col">
        <div class="card">
            <img src="~/img/Doutores.png" class="card-img-top" alt="..." height="128" width="128">
            <div class="card-body">
                <a class="btn btn-primary" asp-area="" asp-controller="Medico" asp-action="Index"><b>Relatórios de médicos</b></a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/img/Pacientes.png" class="card-img-top" alt="..." height="128" width="128">
            <div class="card-body">
                <a href="#" class="btn btn-primary"><b>Relatório de pacientes</b></a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/img/Agenda.png" class="card-img-top" alt="..." height="128" width="128">
            <div class="card-body">
                <a href="#" class="btn btn-primary"><b>Relatório por mês</b></a>
            </div>
        </div>
    </div>
</div>